@using CollabTool.Web
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
		<h1>Welcome @SessionInfo.Current.FullName</h1>
		<h1>Access token: @SessionInfo.Current.AccessToken</h1>
		<h1>Roles: @SessionInfo.Current.Roles</h1>
		<h1>User ID: @SessionInfo.Current.UserId</h1>
    </div>
</body>
</html>
